cython==0.28.3
googleapis-common-protos==1.5.3
grpcio-tools==1.13.0
h5py==2.8.0
imgaug==0.2.6
keras==2.2.0
numpy==1.14.5
opencv-python==3.4.1.15
Pillow==5.2.0
scikit-image==0.13.0
scipy==1.1.0
tensorflow==1.8.0
git+https://github.com/narumiruna/Mask_RCNN.git#egg=mask-rcnn